# MVP Training Data Summary

Loads `exports/nba_training_mvp_v1.csv` and prints summary statistics.
This notebook **does not** modify or write any data.

In [1]:
from pathlib import Path
import numpy as np
import pandas as pd

ROOT = Path.cwd()
DATA_PATH = ROOT / "exports" / "nba_training_mvp_v1.csv"

df = pd.read_csv(DATA_PATH)
df.head()

,date,game_id,home_team,away_team,pts,reb,ast,min,fg_pct,player_name
0,2024-10-22,22400061,BOS,NYK,23,7,1,29.900000,0.388889,Jaylen Brown
1,2024-10-22,22400061,BOS,NYK,37,4,10,30.300000,0.777778,Jayson Tatum
2,2024-10-22,22400061,BOS,NYK,11,3,5,26.083333,0.571429,Al Horford
3,2024-10-22,22400061,BOS,NYK,24,3,4,26.633333,0.615385,Derrick White
4,2024-10-22,22400061,BOS,NYK,18,4,4,30.516667,0.777778,Jrue Holiday

In [2]:
print(f"Rows: {len(df):,}")
print(f"Columns: {len(df.columns)}")
df.dtypes

Rows: 31,115
Columns: 10

date            object
game_id          int64
home_team       object
away_team       object
pts              int64
reb              int64
ast              int64
min            float64
fg_pct         float64
player_name     object
dtype: object

In [ ]:
numeric_cols = df.select_dtypes(include=[np.number]).columns

df[numeric_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
game_id,31115.0,2.230086e+07,5111.795376,22300001.0,2.230029e+07,2.230059e+07,2.230090e+07,22400072.00
pts,31115.0,8.683850e+00,9.120724,0.0,0.000000e+00,6.000000e+00,1.400000e+01,73.00
reb,31115.0,3.309015e+00,3.510926,0.0,0.000000e+00,2.000000e+00,5.000000e+00,31.00
ast,31115.0,2.025647e+00,2.591971,0.0,0.000000e+00,1.000000e+00,3.000000e+00,23.00
min,31115.0,1.834055e+01,13.305019,0.0,4.325000e+00,1.951667e+01,2.988333e+01,53.95
fg_pct,31115.0,3.549200e-01,0.287516,0.0,0.000000e+00,4.000000e-01,5.454545e-01,1.00

In [4]:
missing = df.isna().sum().sort_values(ascending=False)
missing[missing > 0]

Series([], dtype: int64)

In [5]:
df.select_dtypes(exclude=[np.number]).nunique().sort_values(ascending=False)

player_name    596
date           161
home_team       30
away_team       30
dtype: int64